@import "tailwindcss";

/* https://tailwindcss.com/docs/detecting-classes-in-source-files */
@source "../src/";
@source "../../../packages/ui/src/";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-tertiary: var(--tertiary);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --font-inter: var(--font-inter);
}

:root {
  --background: #f5f5f5;
  --foreground: #212121;

  --card: #ffffff;
  --card-foreground: #212121;

  --popover: #ffffff;
  --popover-foreground: #212121;

  --primary: #443aff;
  --primary-foreground: #ffffff;

  --secondary: #e7e5ff;
  --secondary-foreground: #443aff;

  --muted: #eeeeee;
  --muted-foreground: #666666;

  --accent: #443aff;
  --accent-foreground: #ffffff;

  --destructive: #f70000;
  --destructive-foreground: #ffffff;
  --error: #f70000;
  --error-foreground: #ffffff;

  --border: #d9d9d9;
  --input: #d9d9d9;
  --ring: #443aff;

  --font-inter: "Inter";
}

@layer base {
  ::selection {
    background: var(--secondary);
    color: var(--foreground);
  }
  body {
    @apply font-inter;
  }
}
