@import "@repo/tailwind-config";
@import "tailwindcss";

/* Light mode */
:root {
  --background: #f5f5f5;
  --foreground: #212121;

  --primary: #443aff;
  --primary-foreground: #d9d9d9;

  --secondary: #e7e5ff;
  --secondary-foreground: #443aff;

  --card: #f5f5f5;
  --card-foreground: #212121;
  --popover: #f5f5f5;
  --popover-foreground: #212121;

  --tertiary: #e5e5e5;

  --muted: #f5f5f5;
  --muted-foreground: #212121;

  --accent: #443aff;
  --accent-foreground: #212121;

  --destructive: #f70000;
  --destructive-foreground: #ffffff;

  --border: #d9d9d9;
  --input: #d9d9d9;
  --ring: #212121;

  --error: #f70000;
  --error-foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-tertiary: var(--tertiary);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
}
